.profile__email-input-container{
  display: flex;
  /* border-bottom: 2px solid #E8E8E8; */
  max-width: 410px;
  width: 100%;
}
@media screen and (max-width: 320px){
	.profile__email-input-container{

    max-width: 260px;

	}
}
