.header__logo{
  margin: 18px auto 18px 70px;
  transition: all 0.2s ease-out;
}
.header__logo:hover{
  opacity: 0.5;
}
@media screen and (max-width: 768px){
	.header__logo{

    margin: 18px auto 32px 30px;

	}
}

@media screen and (max-width: 320px){
  .header__logo{

    margin: 18px auto 32px 15px;

	}
}
