.card__movie-duration{
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;

  color: #A0A0A0;
}
@media screen and (max-width: 320px){
	.card__movie-duration{

    margin: 2px 0 0 0;

	}
}
