.navigation__hamburger{
  margin: 15px 30px 15px auto;
  height: 44px;
  width: 44px;
  background-image: url('../../../images/hamburger_menu.svg');
  background-size: cover;
  cursor: pointer;
  background-color: transparent;
  border: none;
  animation-name: slideinHam;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}

@keyframes slideinHam {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
