.aboutme__link-gh{

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
  transition: all 0.2s ease-out;
  cursor: pointer;
  text-decoration: none;
}
.aboutme__link-gh:hover{
  opacity: 0.7
}
