.form-search__btn-switch-container {
  margin: 94px 0px 97px auto;
  display: inline-block;
  width: 36px;
	height: 20px;
	position: relative;
	vertical-align: middle;
	font-size: 14px;
	user-select: none;
}

.form-search__btn-switch-container input{
  display: block;
	width: 1px;
	height: 1px;
	position: absolute;
	z-index: -1;
	opacity: 0;
}
