.footer__link{
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  margin: 0 20px 0 0;
  text-align: right;

  color: #000000;

  flex: 2 1 1em;

  text-decoration: none;
}

.footer__link:nth-last-child(1){
  margin: 0 0 0 0;
}
@media screen and (max-width: 320px){
	.footer__link{

    flex: auto;
    justify-content: center;
    align-items: center;
    margin: 12px 0 0 0;

	}

  .footer__link:nth-last-child(1){
    margin: 28px 0 0 0;
  }

}
