.techs__title{
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;

  text-align: center;
  letter-spacing: -0.04em;

  color: #000000;

  margin: 90px 0 0 0;
}
@media screen and (max-width: 768px){
	.techs__title{

    margin: 80px 0 0 0;

	}
}
