.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 17px;
  grid-row-gap: 20px;

  max-width: calc(1280px - 70px - 70px);
  margin: auto;
}
