.navigation__link_white{
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  margin: auto 20px auto auto;
}

@media screen and (max-width: 768px){
	.navigation__link_white{

    font-size: 12px;
    line-height: 16px;
    margin: 8px 0px auto auto;

	}
}
