.about__header{
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;

  color: #000000;

  border-bottom: 2px solid #000000;
  max-width: 1140px;
  width: 100%;

  margin: 100px auto 0 auto;
  padding: 0 0 23px 0;
}

@media screen and (max-width: 768px){
	.about__header{

    margin: 89px auto 0 auto;
    max-width: 668px;

	}
}
