.card{
  display: flex;
  flex-direction: column;

  max-height: 230px;
  max-width: 270px;

}

@media screen and (max-width: 768px){
	.card{

    max-width: 341px;
    max-height: 279px;

	}
}
@media screen and (max-width: 3208px){
	.card{

    max-width: 310px;
    margin: 0 10px 0 10px;
    /* max-height: 279px; */

	}
}
