.profile__user-name{
  max-width: 410px;
  width: 100%;
  padding: 0 0 16px 0;
  border: none;

  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;

  text-align: right;
  outline: none;
}

.profile__user-name::placeholder {
  text-align: right;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;

  text-align: right;

  color: #000000;
}
