.form-search__switch-container{
  display: flex;
  padding: 95px 0 0 0;
}

@media screen and (max-width: 768px){
	.form-search__switch-container{

    padding: 37px 0 0 0;
    margin: 0 0 0 243px;

	}
}
@media screen and (max-width: 320px){
	.form-search__switch-container{

    margin: 0 0 0 15px;
    padding: 43px 0 0 0;

	}
}
