.card__like{
  height: 24px;
  width: 24px;
  background-image: url('../../../images/card_like_disable.svg');
  background-size: cover;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;

  transition: all 1s ease-out;

  border-radius: 15px;
}
.card__like:hover{
  border: 1px solid #FF3055;
}
