.promo__menu-link{
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;

  text-decoration-line: underline;

  color: #FFFFFF;

  margin: 0 40px 0 0;

  cursor: pointer;
}

.promo__menu-link:nth-last-child(1){
  margin: 0 0 0 0;
}
