.about__table-stages{
  display: grid;
  grid-template-columns: 1fr 1fr;

  max-width: 1140px;
  width: 100%;
  margin: 70px 0 0 0;

}

@media screen and (max-width: 768px){
	.about__table-stages{

    max-width: 672px;

	}
}

@media screen and (max-width: 320px){
	.about__table-stages{

    grid-template-columns: 1fr;
    margin: 24px 0 0 0;

	}
}
