.aboutme__link-fb{

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #000000;

  margin: 0 20px 0 0;
  transition: all 0.2s ease-out;
  cursor: pointer;
  text-decoration: none;
}
.aboutme__link-fb:hover{
  opacity: 0.7
}
